body {
    font-family: Traffolight;
    margin: 0 0 0 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

h3 {
    font-size: 42px;
}

.banner {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

.banner img {
    width: 1812px;
}

.about {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.about img {
    width: 415px;
    height: 572px;
}

.about .side {
    height: 500px;
    width: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.about .side .background img {
    position: absolute;
    width: 25%;
    height: 44%;
    opacity: 0.1;
    z-index: -2;
}

.about .side .background {
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.about .side .desc {
    width: 100%;
    height: 230px;
    display: flex;
    flex-flow: column;
    padding: 50px;
    justify-content: space-evenly;
}

p,
h4 {
    font-size: 24px;
    color: rgb(48, 48, 48);
    height: 24px;
    letter-spacing: 1.5px;
}

.about .side .bot {
    height: 70px;
    display: flex;
    justify-content: flex-end;
}

.about .side h3 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 60px;
}

a {
    position: absolute;
    text-decoration: none;
    color: black;
    border: solid black 4px;
    font-size: 20px;
    padding: 20px;
}

.about a {
    margin-right: 40px;
}

.header a {
    position: relative;
    border: none;
    padding: 0px;
}

.about a:hover,
.visit a:hover {
    background-color: black;
    color: white;
}

.menu {
    width: 100%;
    height: 770px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient( #0c455ae8, #02162c), url(./images/bahanmakanan.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    padding-bottom: 20px;
}

.menu p,
.menu h3 {
    color: white;
}

.menu .items {
    width: 99vw;
    height: 500px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.menu .items .item {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.menu a,
.visit a {
    position: relative;
}

.menu a {
    color: white;
    border-color: white;
}

.menu a:hover {
    color: #02162c;
    border-color: #02162c;
    background-color: white;
}

.visit .back {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.527), rgba(255, 255, 255, 0.534)), url(./images/image-4061-1600.jpg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    width: 100%;
    height: 1000px;
}

.visit .back .white {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    height: 1000px;
    width: 45vw;
    background-color: white;
}

.visit h3,
.visit p {
    height: 90px;
}

h4,
.visit p {
    color: rgb(107, 107, 107);
}

.city {
    display: flex;
    flex-flow: column;
    align-items: center;
}

@media only screen and (max-width: 1321px) {
    .about p {
        width: 80vw;
    }
    .menu img {
        width: 200px;
    }
}

@media only screen and (max-width: 969px) {
    body {
        width: auto;
    }
    .banner {
        width: auto;
    }
    p {
        width: auto;
        padding: 16px;
    }
}