@font-face {
    font-family: Traffolight;
    src: url(./fontTraffolight/Traffolight.otf);
}

.header,
.footer {
    margin: 0 0 0 0;
    background-image: linear-gradient(#02162c, #023a4e);
    display: flex;
    width: 99.7%;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    z-index: 2;
}

.dropmenu {
    /* display: inline-block;
    width: 170px; */
    display: none;
}

.header .menus {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 30%;
}

.content,
.menuitems {
    display: none;
    position: absolute;
}

@media only screen and (max-width: 969px) {
    .dropmenu {
        display: inline-block;
        width: 170px;
    }
    .header .menus {
        display: none;
    }
}

.footer {
    height: 110px;
    background-color: #02162c;
    background-image: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
    font-size: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.droporder {
    padding-top: 20px;
}

.droporder:hover .menuitems,
.droporder:hover .menuitems a {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0e4052;
    filter: drop-shadow(5px 5px 0.75rem rgba(3, 3, 3, 0.267));
}

.dropmenu:hover .content a,
.dropmenu:hover .content {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 120px;
    font-size: 26px;
    color: white;
    background-color: #0e4052;
    border: 2px;
    filter: drop-shadow(5px 5px 0.75rem rgba(3, 3, 3, 0.267));
}

.droporder:hover .menuitems a {
    width: 88px;
    font-size: 1.5em;
}

.dropmenu:hover .content a:hover,
.droporder:hover .menuitems a:hover {
    background-color: #285d72;
    color: white;
}

.dropmenu a,
.menus a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 20px;
    letter-spacing: 1px;
    font-family: Traffolight;
}

.header .dropmenu .content .userloc,
.menus a:hover,
.menus .userloc {
    color: rgb(153, 255, 255);
}

.footer .text {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}