@font-face {
    font-family: Traffolight;
    src: url(./fontTraffolight/Traffolight.otf);
}

.header,
.footer {
    margin: 0 0 0 0;
    background-image: linear-gradient(#02162c, #023a4e);
    display: flex;
    width: 99.7%;
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
}

.dropmenu {
    display: inline-block;
    width: 170px;
    /* display: none; */
}

.options {
    display: none;
    /* display: flex;
flex-flow: row;
align-items: center;
justify-content: space-evenly;
padding-right: 60px; */
}

.options a {
    width: 120px;
    font-size: 26px;
    color: white;
    text-decoration: none;
    font-family: Traffolight;
}

.content {
    display: none;
    position: absolute;
}

@media only screen and (max-width: 969px) {
    body .header .dropmenu {
        display: inline-block;
        width: 170px;
    }
    body .header .options {
        display: none;
    }
}

.footer {
    height: 110px;
    background-color: #02162c;
    background-image: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
    font-size: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.dropmenu:hover .content {
    display: flex;
    flex-flow: column;
}

.dropmenu:hover .content a {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 120px;
    font-size: 26px;
    color: white;
    background-color: #0e4052;
    border: 2px;
}

.options a:hover,
.options .userloc {
    color: rgb(189, 252, 252);
}

.dropmenu:hover .content a:hover {
    background-color: #285d72;
}

.dropmenu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px;
    letter-spacing: 1px;
    font-family: Traffolight;
}

.header .dropmenu .content .userloc {
    color: rgb(153, 255, 255);
}

.footer .text {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}